@media (min-width: 600px) {
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
  }
  .descuentos {
    width: 500px;
  }
  .descuentos form h2 {
    font-size: large;
  }
  .descuentos form label {
    font-size: medium;
    width: 300px;
  }
  .descuentos form input {
    width: 250px;
    height: 35px;
  }
  .descuentos form button {
    width: 200px;
    height: 50px;
  }
  .titulo {
    font-size: medium;
  }
  .resultado {
    font-size: medium;
  }

  .cupones-container {
    width: 75%;
  }
  .cupon {
    padding: 10px;
    width: 175px;
    height: 100px;
  }
  .cupon h3 {
    display: flex;
    height: 18px;
  }
  .nombre-salto {
    display: none;
  }
  .social-media {
    width: 40%;
  }
  footer{
    position: relative;
    bottom: 0;
  }
}
